body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(0.55rem 0.5rem 0.4rem rgba(0, 0, 0, 0.5));
    margin: 2vw;
}

.url-list{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    background-color: rgb(231, 231, 231);
    transition: left 0.1s ease-in;
}

.url-list-hidden{
    left: -40vw;
}

#seperator{
    background-color: rgb(255, 255, 255);
}

.url-name{
    align-self: center;
    margin: 5px;
    background-color: white;
    font-style: italic;
    font-size: 4vw;
}

#ui-container{
    justify-content: center;
    background-color: purple;
    border-radius: 1.5vw;
    gap: 2vw;
    width: 50vw;
} 

#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    margin: 2vw;
}

#gallery img{
    max-width: 30vw;
    max-height: 30vw;
    min-width: 200px;
    min-height: 200px;
}