body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(0.55rem 0.5rem 0.4rem rgba(0, 0, 0, 0.5));
    margin: 2vw;
}

#input-fields{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin: 2vw;
}

#gallery{

}