
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(0.55rem 0.5rem 0.4rem rgba(0, 0, 0, 0.5));
    margin: 2vw;
}

.toggle-button{
    position: absolute;
    top: 0vw;
    left: 0vw;
    font-size: 1vw;
    padding: 0.5vw;
    border-radius: 10px;
    margin: 0.5vw;
}

.url-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    background-color: rgb(231, 231, 231);
    transition: all 0.3s linear;
    left: 0;
    top: 3vw;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.url-list-hidden{
    left: -20vw;
}

#seperator{
    background-color: rgb(255, 255, 255);
}

.url-name{
    align-self: center;
    margin: 5px;
    background-color: white;
    font-style: italic;
    font-size: 2vw;
    border-radius: 10px;
}

#input-field{
    justify-content: center;
    display: flex;
    gap: 0.5vw;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    margin: 5vw;
}

#gallery img{
    max-width: 30vw;
    max-height: 30vw;
    min-width: 200px;
    min-height: 200px;
}